---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Status from '../components/Status.astro';
import { Picture } from 'astro:assets';

const posts = (await getCollection('blog')).map(value => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value);

//TODO collect and store data for banners separately
const actionCard = {
	active: true,
	title: 'Сколько времени в Токио?',
	desc: 'Игра на знание часовых поясов',
	anchorText: 'Играть',
	anchorLink: '/games/time-zones',
	image: 'https://images.unsplash.com/photo-1508962914676-134849a727f0?auto=format&fit=crop&q=60&w=1200'
}
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(33.3% - 1.34rem);
				order: 3;
			}
			ul :is(li:first-child, li:nth-child(2), li:nth-child(3)) {
				order: 1;
			}
			ul li:last-child {
				width: 100%;
				/* order: 2; */
				order: 0;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li picture {
				display: block;
				width: 100%;
			}
			ul li img {
				width: 100%;
				margin-bottom: 0.5rem;
				border-radius: 12px;
				aspect-ratio: 2;
				object-fit: cover;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
				display: flex;
				align-items: center;
				gap: 4px;
			}
			.title h4 {
				margin-bottom: 0;
				text-align: left;
			}
			ul li a:hover h4 {
				color: var(--accent);
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			ul li:last-child > div {
				position: relative;
				overflow: hidden;
				border-radius: 12px;
			}
			ul li:last-child img {
				width: auto;
				aspect-ratio: auto;
    			position: absolute;
				transform: translateY(-40%);
			}
			ul li:last-child .general-info {
				position: relative;
				z-index: 2;
				padding: 1em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				gap: 1em;
				background-color: rgba(0, 0, 0, 0.65);
			}
			ul li:last-child .general-info__inner :is(h3, div) {
				margin-bottom: 0;
				color: #fff;
				text-align: left;
			}
			ul li:last-child .general-info :is(a:hover, a:active) {
				color: #fff;
			}
			@media (max-width: 720px) {
				ul {
					gap: 1.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:last-child img {
					max-width: 200%;
				}
			}
			@media (max-width: 360px) {
				ul li:last-child img {
					max-width: 400%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="text-center mb-8">
				<h1 class="font-display">Заметки обо всём, что вижу вокруг.</h1>
				<p class="mb-2">Максимально субъективное мнение, максимально субъективный опыт.</p>
				<p><a href="/about">Кто всё это пишет?</a></p>
			</section>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<Picture 
										width={286}
										height={143}
										src={post.data.heroImage}
										alt="" 
										loading="eager" 
										densities={[2]} 
										quality="max"
									/>
									<div class="title">
										<h4>{post.data.title}</h4>
										{
											post.data.status && (
												<Status status={post.data.status} isLong={false} />
											)
										}
									</div>
								</a>
							</li>
						))
					}
					{
						actionCard.active && (
							<li>
								<div>
									<img src={actionCard.image} />
									<div class="general-info">
										<div class="general-info__inner">
											<h3>{actionCard.title}</h3>
											<div>{actionCard.desc}</div>
										</div>
										<a href={actionCard.anchorLink} class="text-white text-base font-medium text-center inline-flex items-center justify-center bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 rounded-lg px-9 py-3">
											{actionCard.anchorText}
										</a>
									</div>
								</div>
							</li>
						)
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
