---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/social-image.jpg' } = Astro.props;
const appliedTitle = (title === SITE_TITLE) ? title : `${title} | ${SITE_TITLE}`;

const imageURL = new URL(image, Astro.url);
const type = (title === SITE_TITLE || !canonicalURL.href.includes('/blog')) ? "WebSite" : "Article";

const structuredData = {
	"@context": "https://schema.org",
	"@type": type,
	name: appliedTitle,
	headline: appliedTitle,
	description: description,
	url: canonicalURL,
	thumbnailUrl: imageURL,
	image: {
		"@type": "ImageObject",
		url: imageURL,
	},
};
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
<!-- <link rel="manifest" href="/manifest.json" /> -->

<!-- Font preloads -->
<link href="https://api.fontshare.com/v2/css?f[]=jet-brains-mono@1,2&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{appliedTitle}</title>
<meta name="title" content={appliedTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={appliedTitle} />
<meta property="og:description" content={description} />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content={imageURL} />
<meta property="og:image:alt" content={appliedTitle} />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={appliedTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageURL} />
<meta property="twitter:image:alt" content={appliedTitle} />

<!-- Robots -->
<meta name="robots" content="max-image-preview:standard">

<!-- Rich Results -->
<script type="application/ld+json" set:html={JSON.stringify(structuredData)} />